body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

#date-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, rgb(160, 238, 228), rgb(235, 255, 124));
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#date-form label {
  margin-right: 10px;
}

#date-form input[type="number"] {
  border: none;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 15px; /* Added margin-right for spacing */
}

#date-form input[type="number"]:last-child {
  margin-right: 0; /* Remove margin-right for the last input */
}

#date-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

#date-form input[type="submit"]:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#image-container img {
  width: 300px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  #image-container img {
    width: 100%;
    height: auto;
  }
}